.navbar-light{
    background-color: indigo;
}

.navbar-brand{
    color: white;

}

#logo:hover {
    color: yellow;
}



.btn-primary{
    background-color: indigo;
}

#exampleModalLabel{
    color: indigo;
}

.close{
    color: indigo;
}
