<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class = "barraDeIconos" >
    <a href="/nuLibros"><i class="fa fa-book"></i></a>
    <a class="active" href="/nuRevistas"><i class="fa fa-newspaper-o"></i></a>
  </div>

  <div class="container mb-3 mt-3">
    <div class="alert alert-primary" role="alert">
        Revistas Prestadas
      </div>
    <table id="revistasPrestadas" class="table table-bordered table-striped" style="width:100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Edición</th>
          <th>Frecuencia</th>
          <th>Temas</th>
        </tr>
      </thead>
      <tbody>
        <tr id="customtr" data-toggle="modal" data-target="#giveBackConfirm">
          <td>1</td>
          <td>Revista Científica UVG</td>
          <td>39</td>
          <td>Mensual</td>
          <td>Educación, Pedagogía, Idioma</td>
          
        </tr>
        <tr id="customtr" data-toggle="modal" data-target="#giveBackConfirm">
          <td>2</td>
          <td>Ciencia, tecnología y salud</td>
          <td>7</td>
          <td>Bimestral</td>
          <td>Ciencia,, tecnología, salud</td>
        </tr>
        
      </tbody>
     
    </table>
  </div>

  <div class="container mb-3 mt-3">
    <div class="alert alert-primary" role="alert">
        Revistas disponibles para prestar
      </div>
    <table id="revistasParaPrestar" class="table table-bordered table-striped" style="width:100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Edición</th>
          <th>Frecuencia</th>
          <th>Temas</th>
          <th>Disponibles</th>
        </tr>
      </thead>
      <tbody>
        <tr id="customtr" data-toggle="modal" data-target="#lendConfirm">
            <td>1</td>
            <td>Revista Científica UVG</td>
            <td>38</td>
            <td>Mensual</td>
            <td>Educación, Pedagogía, Idioma</td>
            <td>24</td>
          </tr>
          <tr id="customtr" data-toggle="modal" data-target="#lendConfirm">
            <td>2</td>
            <td>ALTUM UNIS</td>
            <td>13</td>
            <td>Anual</td>
            <td>Ciencia, Diseño, Tecnología</td>
            <td>200</td>
          </tr>
          <tr id="customtr" data-toggle="modal" data-target="#lendConfirm">
            <td>3</td>
            <td>ALTUM UNIS</td>
            <td>12</td>
            <td>Anual</td>
            <td>Ciencia, Diseño, Tecnología</td>
            <td>100</td>
        </tr>
      </tbody>
     
    </table>
  </div>

  <div class="modal fade" id="lendConfirm" tabindex="-1" aria-labelledby="exampleModalSmLabel" aria-hidden="true" >
    <div class="modal-dialog modal-sm" id= "modalDialog">
      <div class="modal-content" id = "deleteConfirmColor" style="background-color: gray; color: white;">
        <div class="modal-header">
          <h5 class="modal-title h4" id="exampleModalSmLabel">¿Pedir esta revista?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Confirmar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="giveBackConfirm" tabindex="-1" aria-labelledby="exampleModalSmLabel" aria-hidden="true" >
    <div class="modal-dialog modal-sm" id= "modalDialog">
      <div class="modal-content" id = "deleteConfirmColor" style="background-color: gray; color: white;">
        <div class="modal-header">
          <h5 class="modal-title h4" id="exampleModalSmLabel">¿Devolver esta revista?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Confirmar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>